Repository rust-unofficial/patterns, pull requests merged in 2021-02, with the labels that each got.

#216 Add link to a list of all clippy lints
  anti_patterns/deny-warnings.md
Labels: anti-pattern, enhancement

#211 Interpreter design pattern
  SUMMARY.md
  patterns/interpreter.md
Labels: addition, pattern

#190 Revise the FFI chapters
  idioms/ffi-accepting-strings.md
Labels: fix, idiom, pattern

#219 Structural changes to patterns subfolder
  SUMMARY.md
  idioms/ffi/accepting-strings.md
  idioms/ffi/errors.md
  idioms/ffi/intro.md
  idioms/ffi/passing-strings.md
  patterns/behavioural/RAII.md
  patterns/behavioural/interpreter.md
  patterns/behavioural/intro.md
  patterns/behavioural/newtype.md
  patterns/behavioural/strategy.md
  patterns/behavioural/visitor.md
  patterns/creational/builder.md
  patterns/creational/fold.md
  patterns/creational/intro.md
  patterns/entry.md
  patterns/ffi/export.md
  patterns/ffi/intro.md
  patterns/ffi/wrappers.md
  patterns/late-bounds.md
  patterns/structural/compose-structs.md
  patterns/structural/intro.md
  patterns/structural/small-crates.md
  patterns/structural/unsafe-mods.md
Labels: enhancement, maintenance
