Repository rust-unofficial/patterns, pull requests merged in 2021-03, with the labels that each got.

#243 Updating mdbook version
  .env
Labels: maintenance

#110 Adding 'clone to satisfy the borrow checker' anti-pattern
  SUMMARY.md
  anti_patterns/borrow_clone.md
  idioms/mem-replace.md
Labels: addition, anti-pattern

#247 Command pattern
  SUMMARY.md
  patterns/behavioural/command.md
Labels: addition, pattern
